{% load static tailwind_cli %}
<!DOCTYPE html>
<html data-theme="dim" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <title>{% block page_title %}SaaS{% endblock page_title %}</title>
    {% tailwind_css %}
  </head>
  <body>
    {% include 'nav/navbar.html' %}
    <div>
      {% block visitor %}{% endblock visitor %}
      <!-- prettier-ignore -->
      {% block content %}{% endblock content %}
    </div>
  </body>
</html>
