{% load i18n %}
{% load static tailwind_cli %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block head_title %}SaaS
            {% endblock head_title %}
        </title>
        {% block extra_head %}
        {% endblock extra_head %}
        {% tailwind_css %}
    </head>
    <body>
        {% include 'nav/navbar.html' %}
        {% block body %}
        <div class="hero bg-base-200 w-8/10 shadow-sm mt-45 ml-auto mr-auto">
            <div class="hero-content">
                <div>
                    <div>
                        {% if messages %}
                        {% for message in messages %}
                        <div role="alert" class="alert alert-info alert-soft">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-info h-6 w-6 shrink-0">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                            </svg>
                            <span>{{ message }}</span>
                        </div>
                        {% endfor %}
                        {% endif %}
                        <div>
                            <ul class="menu menu-vertical mr-auto ml-auto lg:menu-horizontal bg-base-200 rounded-box">
                                {% if user.is_authenticated %}
                                    {% url 'account_email' as email_url_ %}
                                    {% if email_url_ %}
                                        <li>
                                            <a href="{{ email_url_ }}">{% trans "Change Email" %}</a>
                                        </li>
                                    {% endif %}
                                    {% url 'account_change_password' as change_password_url_ %}
                                    {% if change_password_url_ %}
                                        <li>
                                            <a href="{{ change_password_url_ }}">{% trans "Change Password" %}</a>
                                        </li>
                                    {% endif %}
                                    {% url 'socialaccount_connections' as connections_url_ %}
                                    {% if connections_url_ %}
                                        <li>
                                            <a href="{{ connections_url_ }}">{% trans "Account Connections" %}</a>
                                        </li>
                                    {% endif %}
                                    {% url 'mfa_index' as mfa_url_ %}
                                    {% if mfa_url_ %}
                                        <li>
                                            <a href="{{ mfa_url_ }}">{% trans "Two-Factor Authentication" %}</a>
                                        </li>
                                    {% endif %}
                                    {% url 'usersessions_list' as usersessions_list_url_ %}
                                    {% if usersessions_list_url_ %}
                                        <li>
                                            <a href="{{ usersessions_list_url_ }}">{% trans "Sessions" %}</a>
                                        </li>
                                    {% endif %}
                                    {% url 'account_logout' as logout_url_ %}
                                    {% if logout_url_ %}
                                        <li>
                                            <a href="{{ logout_url_ }}">{% trans "Sign Out" %}</a>
                                        </li>
                                    {% endif %}
                                {% else %}
                                    <!-- {% url 'account_login' as login_url_ %}
                                    {% if login_url_ %}
                                        <li>
                                            <a href="{{ login_url_ }}">{% trans "Sign In" %}</a>
                                        </li>
                                    {% endif %}
                                    {% url 'account_signup' as signup_url_ %}
                                    {% if signup_url_ %}
                                        <li>
                                            <a href="{{ signup_url_ }}">{% trans "Sign Up" %}</a>
                                        </li>
                                    {% endif %} -->
                                {% endif %}
                            </ul>
                        </div>
                        <div class="card-body">
                        {% block content %}
                        {% endblock content %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card bg-base-200 mt-25 w-150 shadow-sm ml-auto mr-auto">

        </div>
        {% endblock body %}
        {% block extra_body %}
        {% endblock extra_body %}
        {% include 'base/bottomjs.html' %}
    </body>
</html>
